
	<div sticky class="well well-md">
<h3>Input Stock Ticker</h3>
<div class="input-group">

  <input type="text" class="form-control" placeholder="">
	<span class="input-group-btn">
	        <button class="btn btn-primary" type="button">Go!</button>
	      </span>
</div>

<hr>
<strong><h4 class="highlight">Fundamental Analysis</h4></strong>
<strong>Short Term: Momentum</strong>
<ul>
	<li>Sales, Net Income, Operating Cashflow</li>
	<li>Future Growth Drivers: EPS</li>
</ul>

<strong>Medium Term: Sustainability</strong>
<ul>
	<li>Sustainable Competitive Advantage</li>
	<li>ROE > 12-15%</li>
	<li>Price Below Intrinsic Value</li>
</ul>
<strong>Long Term: Downside Protection</strong>
<ul>
	<li>Conservative Debt</li>
	<li>Healthy Cash Flow</li>
	<li>Insiders are Bullish</li>
	<li>Risks Well Managed</li>
</ul>
<hr>
<strong><h4 class="highlight">Technical Analysis</h4></strong>
<ul>
	<li>Next Steps</li>
</ul>
	</div>
